*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
html {
    font-size: 1.2rem;
}
body {
    font-family: system-ui;
    line-height: 1.5;
    padding: 200px;
    max-width: 60vw;
    margin-inline:auto;
    

}

ul, ol, menu {
   
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
   font-weight: 400;
    line-height: inherit;
}
