:root{
    --bg-main-color:#122c34; // in order to  implement it we need to use var().
    --bg-Bdika-color:#a7e3f5;
    --bg-puprle-color: #1e1c22;
    --bg-lpuprle-color: #312c3bdb;
    --bg-sec-color: #4ea6d9;
    --bg-third-color:#eb9486;
    --bg-Forbutton-color:#D0FEF5; 
    --bg-forumbg-color: white smoke; 
    --fn-tomato-color:#ff6347;
    --fn-yaron-color: rgba(245, 245, 245, 0.601); 
    --rn-green-color: #2d3e09f2; 
    --rn-yellow-color: #f3de8a86; 

    }

html, body{
color: var(--fn-yaron-color)

}
body{
    background-color: var(--bg-puprle-color);
}
.roundCorners{
border-radius: 8px;
}
.TextCenter{
text-align: center;
}
.videoBox{
max-width: 200px;
max-height: 200px;
margin: 0;
padding: 0;
}
.noPadding{
padding: 0;
}
.noMargin{
margin: 0;
}
.maxHeight15vh{
max-height: 15vh;
}
.borderSalamon{
border: 4px solid var(--bg-third-color);
}
.width177{
width: 177px;
}
.opa{
opacity: 1;
}





.logo{
display: flex;
flex:1;
justify-content: center;
color: var(--fn-tomato-color);
font-size: 3.5rem;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);  
font-weight: bold;
@media screen and (width < 43rem){
    font-size: 1.5rem;
    justify-content: flex-start;
    margin-left: 1rem;
}
 
}

.secLogo{
color: var(--fn-tomato-color);
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);  
font-weight: bold;
}

.inputDesign{
border: 3px solid #2d3e09f2;
border-radius: 8px;
}

//Backgrounds, colors & fonts 
.bgLight{
background-color: var(--bg-lpuprle-color);
}
.bgMain{
background-color: var(--bg-main-color);
}
.bgGreen{
background-color: var(--rn-green-color);
}
.bgBlue{
background-color: var(--bg-sec-color);
}
.fnColorSalamon{
color: var(--bg-third-color);
}
.fnNice{
   font-family: Stencil Std, fantasy;
//    font-weight: bold;
   letter-spacing: 0.7px; 
}
.bgGreenOpacity{
background-image: linear-gradient(var(--bg-main-color), var(--rn-green-color),var(--rn-yellow-color));
    
opacity: 0.95;
}


//Buttons & links
.buttonTest{
    background-color: tomato;
    color: whitesmoke;
    padding: 1em;
    margin:0;

}
.buttonGeneral{
background-color: var(--bg-third-color);
text-transform: uppercase;
font-weight: bold;
font-family: Courier, monospace;
letter-spacing: 0.7px;
border-radius: 10px;
z-index: 500;
cursor: pointer;

@media screen and (width < 43rem){
    scale: 0.8;
   
}

}
.buttonGeneral:hover{
    background-color: var(--bg-main-color);
    color: var(--fn-tomato-color);
    scale: 1.2;
    
    }
a:active{
    background-color: var(--bg-main-color);
}
.buttonGeneral:active{
    background-color: var(--bg-main-color);

}

.buttonNoSpace{
    background-color: var(--bg-third-color); 
    text-transform:uppercase;
    font-weight: bold;
    font-family: Stencil Std, fantasy;
    letter-spacing: 0.7px; 
    border-radius: 10px;
}
.buttonNoSpace:hover{
    background-color: var(--bg-main-color);
    color: var(--fn-tomato-color); 
    border-radius: 10px;
}

// Forums
.topicsFirst {
    background-color: #ff6347;
}

// Forum buttons

.forumButton{
    margin: 0 1em 1em 1em;
    padding: 0.9em;
    background-color: var(--bg-third-color);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.7px;
    border-radius: 30px;
    transition: scale 300ms;
    
    
    }
    .forumButton:hover{
        
        background-color: var(--bg-main-color);
        color: var(--fn-tomato-color);
        scale: 1.2;
        
        }
    a:active{
        background-color: var(--bg-main-color);
    }
    .forumButton:active{
        background-color: var(--bg-main-color);
       
    
    }
    .forumButtonTopic{
        display: flex;
        background-color: var(--fn-yaron-color);
        font-weight: bold;
        font-family: roboto;
        letter-spacing: 0.7px;
        transition: scale 300ms;
        cursor: pointer;
        
        }
        .forumButtonTopic:hover{
            background-color: var(--bg-main-color);
            color: var(--fn-tomato-color);
            scale: 1.2;
            
            }
        a:active{
            background-color: var(--bg-main-color);
        }
        .forumButtonTopic:active{
            background-color: var(--bg-main-color);
        
        }
.showLogin{
      display: flex;
      position: relative;
      background-image: linear-gradient(var(--bg-sec-color), var(--bg-third-color),var(--rn-yellow-color));
      padding: auto;
      cursor: pointer;
      width: fit-content;
      text-align: center;
      animation: move 5s infinite;
      margin-right: 5rem;

      @media screen and (width < 38rem) {
        margin-right: 3rem;
       
      }

      @keyframes move{
      0% {top:0px}
      25%{top:2px}
      50%{top:4px}
      75%{top:2px}
      100%{top:0px}
      }
    
}
.showLogin:hover{
    scale: 1.5;
}

.searchLine{
    @media screen and(width<30rem) {
        margin-left: 3rem;
    }
}

.search-input {
    border: none;
    outline: none;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5rem;

    @media screen and(width<28rem) {
        scale: 0.8;
    }
}

.search-button {
    font-family: monospace;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--fn-tomato-color);
    padding: 0;
    margin-right: 0.3rem;
    position: relative;
    top: 0.3rem; 
    margin-bottom: 0.5rem;
    animation: halfSpin 5s infinite;

    @media screen and(width<28rem) {
        scale: 0.3;
        position: relative;
        top: 2.5rem;
        right: 3rem;
    }

    @keyframes halfSpin {
        0%{
            rotate: 0deg;
            
        }
        10%{
            rotate: 36deg;
            scale: 0.7;
        }
        25%{
            rotate: 90deg;
            scale: 0.5;
            margin: 0.4rem;
            ;
        }
    }
    
}

.search-button:hover {
    animation: fastSpin 5s linear;
    background-image: repeating-linear-gradient(var(--bg-main-color), var(--bg-sec-color),var(--rn-yellow-color));  
    background-color:rgba(0, 0, 0, 0.5);
    border:rgba(0, 0, 0, 0.7);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    border-radius: 5px; 
    

    @keyframes fastSpin {
        0%{
            rotate: 0deg;
            scale: 0.5
            
        }

        25%{
            rotate: 90deg;
            scale: 0.7;
        }
        50%{
            rotate: 180deg;
            scale: 0.5;
        }
        75%{
            rotate: 270deg;
            scale: 0.7;
        } 
        100%{
            rotate: 360deg;
            scale: 0.5deg; 
        }
       }
    }
    footer{
    margin-top: 3rem;
    z-index: 1001;
    min-width: 100vw;
    }



























// }
// // #show:checked ~ .flex-container-login{
// // display: flex;
// // }
// // #show:checked ~ .closeButton{
// display: flex;
// }
// #show:checked ~ .showLogin{
// display: none;
// }
// input[type="checkbox"]{
// display: none;
// }
// .closeButton{
// background-image: linear-gradient(var(--bg-sec-color), var(--bg-third-color),var(--rn-yellow-color)); 
// padding: 2px;
// cursor: pointer;
// display: none;  
// }

// #close:checked ~ .showLogin{
// display: flex;
// }
// // #close:checked ~ .closeButton{
// // display: none;
// // }
// #close:checked ~ .showLogin{
// display: flex;
// }